body {
	margin : 0px 3vw 0px 3vw;
	font-family: 'Bree Serif', sans-serif;
	font-size: 23px;
}

a { color: white; }

a:hover { color: white; }

.pink { color: #e90e8d; }

.btn-blue { 
	background-color: #42c4df;
	border-color: #42c4df; 
	font-size: 16px;
}

.btn-blue:hover, .btn-blue:active, .btn-blue:focus {
	background-color: #42c4df;
	border-color: #42c4df;
}

.center { text-align:center; }

.pad-20 { padding: 20px; }

.margin-left-10 {margin-left: 10px;}
.margin-left-20 { margin-left: 20px; }
.margin-right-10 { margin-right: 10px; }
.margin-right-20 { margin-right: 20px; }

.main-title {
	font-size: 6vw;
	margin-bottom: -18px;
}

.main-title-sub { font-size: 3vw; }

.title-image {
	width: 20vw;
	height: auto;
	padding-right: 20px;
}

.title-image-space {
	float: left;
	height: 10vw;
}

.week-section {
	background-color: #e90e8d;
	border-radius: 25px;
	padding-bottom: 10px;
	padding-right: 5px;
	width: 100%;
	display: block;
}

.week-section-title {
	font-size:25px;
	color: #42c4df;
	padding: 10px 10px 0px 10px
}

.collapse-button {
	float: right;
	margin: 33.5px 10px 0px 0px;
	background-color: #42c4df;
}

.week-section-sub1 {
	font-size: 22px;
	padding: 0px 10px 0px 10px;
}

.week-section-sub2 {
	font-size: 18px;
	color: white;
	padding: 0px 10px 0px 10px;
}

.checkmark {
	border-radius: 50%;
	border-style: solid;
	border-width: 6px;
	border-color: #cccccc;
	float: left;
	padding: 26px;
	margin: 10px;
}

.week-section-item {
	background-color: #f142a8;
	border-radius: 25px;
	margin: 10px;
	padding: 10px;
	color: white;
	height: auto;
	overflow: auto;
}


.week-1-a img {
	height: 180px;
	width: 180px;
	background-color: black;
	float: right;
	padding: 10px;
	border-radius: 15px;
	margin-left: 10px;
}

.week-1-e img {
	float: right;
	width: 40px;
	height: auto;
}

.week-2-a img {
	height: 180px;
	width: 180px;
	margin-left: 10px;
	float: right;
}

.week-2-c img { float: right; }

.week-3-b img {
	float: right;
	width: 100px;
	height: auto;
	padding: 10px;
}
